body{
    margin: 0px;
    width: 1920px;
    height: 819px;
}

#wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}

#nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

#welcome{
    margin-right: 20px;
    margin-top: 10px;
}

#nav-links{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px #eee solid;
}

.nav-one{
    border: 1px black solid;
    margin-left: 1px;
}

.nav-one:link, .nav-one:visited {
    background-color: mediumaquamarine;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav-one:hover, .nav-one:active {
    background-color: lightseagreen;
}

#page-body{
    height: 70%;
    width: 80%;
    margin-top: 50px;
    background-color: #fff;
}

#shows-table{
    width: 100%;
}

#delete-button{
    padding-left: 7px;
}

#edit-button{
    padding-right: 7px;
    border-right: 2px solid black;
}

#create-button{
    margin-right: 50px;
}

#description{
    word-wrap: break-word;
}