body{
    display: flex;
    justify-content: center;
}

#wrapper{
    height: 1200px;
    width: 1200px;    
}

#nav-links{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#shows-table{
    width: 75%;
}

#delete-button{
    padding-left: 7px;
}

#edit-button{
    padding-right: 7px;
    border-right: 2px solid black;
}

#create-button{
    margin-right: 50px;
}