body{
    margin: 0px;
    width: 1920px;
    height: 819px;
}

#wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

#welcome{
    margin-right: 20px;
    margin-top: 10px;
}

#nav-links{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px #eee solid;
}

.nav-one{
    border: 1px black solid;
    margin-left: 1px;
}

a:link, a:visited {
    background-color: mediumaquamarine;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: lightseagreen;
}

#main-body{
    height: 80%;
    width: 35%;
    border: 2px solid black;
    background-color: lightblue;
    display: flex;
    justify-content: flex-start;
}

#page-body{
    height: 100%;
    width: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#nav-buttons{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#descriptors{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#image-logo{
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}

.display{
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

a{
    margin-right: 20px;
}

p{
    font-size: 20px;
    margin-left: 20px;
    word-break: break-all;
}