body{
    margin: 0px;
    padding: 0px;
    height: 1051px;
    width: 1920px;
}

#wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #75af96;
}

#welcome{
    margin-right: 20px;
    margin-top: 10px;
}

#nav-links{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: #75af96;
    border-bottom: 2px black solid;
}

.nav-one{
    border: 1px black solid;
    margin: 1px;
}

a:link, a:visited {
    background-color: mediumaquamarine;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: lightseagreen;
}

#page-body{
    height: 100%;
    width: 100%;
    background-image: url("../asset/forest-background.png");
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.page-parts{
    background-color: #75af96;
    border: 2px black solid;
    height: 33%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.body-info{
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.body-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.body-pic{
    height: 60%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.sub-info{
    margin-top: 40px;
    border: 2px black dotted;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

b{
    margin: 3px;
}