body{
    margin: 0px;
    padding: 0px;
    height: 1051px;
    width: 1920px;
}

#wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #75af96;
}

#welcome{
    margin-right: 20px;
    margin-top: 10px;
}

#nav-links{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: #75af96;
    border-bottom: 2px black solid;
}

.nav-one{
    border: 1px black solid;
    margin-left: 1px;
}

a:link, a:visited {
    background-color: mediumaquamarine;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: lightseagreen;
}

h2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px black solid;
}

#page-body{
    height: 100%;
    width: 100%;
    background-image: url("../asset/forest-background.webp");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.col-title{
    font-size: 35px;
    color: black;
    text-decoration: underline;
    align-self: center;
}

#left-col{
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 2px;
    background-color: mediumaquamarine;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.reg-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

#right-col{
    border: 2px solid black;
    margin-right: 2px;
    margin-top: 20px;
    width: 40%;
    background-color: mediumaquamarine;
    display: flex;
    flex-direction: column;
}

#err-msg{
    color: red;
}

a{
    margin-right: 20px;
}

p{
    color: black;
}

label{
    color: black;
}

input{
    width: 80%;
    margin-bottom: 15px;
}
#login-button{
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}