body{
    margin: 0px;
    width: 1920px;
    height: 819px;
}

#wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

#welcome{
    margin-right: 20px;
    margin-top: 10px;
}

#nav-links{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px #eee solid;
}

.nav-one{
    border: 1px black solid;
    margin: 1px;
}

a:link, a:visited {
    background-color: mediumaquamarine;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: lightseagreen;
}

#page-body{
    height: 100%;
    width: 100%;
    background-image: url("../asset/forest-background.png");
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#main-body{
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

h2{
    margin-right: 50px;
    padding: 5px;
    background-color: mediumaquamarine;
    border: 2px black solid;
}

.flash-message{
    background-color: mediumaquamarine;
    border: 2px black solid;
}

#left-col{
    border: 2px solid black;
    border-right: 2px dotted black;
    background-color: mediumaquamarine;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

label{
    align-self: center;
}

.form-input{
    margin: 10px;
}

form{
    height: 70%;
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

textarea{
    width: 80%;
    height: 100px;
}

#form-buttons{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#right-col{
    border: 2px solid black;
    border-left: 2px dotted black;
    background-color: mediumaquamarine;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#nav-buttons{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

a{
    margin-right: 20px;
}

#date-space{
    align-self: center;
    width: 120px;
}

#sub-button{
    align-self: center;
    width: 100px;
}